@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.cabecalho {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    width: 100%;
}
.logo-header {
    width: 20%;
}
.nav-item {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.5rem;
}
.nav-item a {
    color: #FFF;
    text-decoration: none;
}

/* Home */
.principal {
    display: grid; 
    place-content: center;
    background: url('../img/bg-empresarial.png') center / cover no-repeat;
    height: 100vh;
}
.principal-titulo {
    color: #FFF;
    text-transform: uppercase;
}
.principal-titulo strong {
    color: #6B35E8;
}
